@model cuoiki.Models.Product
@{
    ViewData["Title"] = "Edit Product";
}

<h2>Edit Product</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ProductId" />
    <div class="form-group">
        <label asp-for="NamePro" class="control-label"></label>
        <input asp-for="NamePro" class="form-control" />
        <span asp-validation-for="NamePro" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DecriptionPro" class="control-label"></label>
        <textarea asp-for="DecriptionPro" class="form-control"></textarea>
        <span asp-validation-for="DecriptionPro" class="text-danger"></span>
    </div>
   <!-- gá»i view component CategorySelector -->
    @await Component.InvokeAsync("CategorySelector", new { selectedCategory = Model.Category })
    <span asp-validation-for="Category" class="text-danger"></span>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImagePro" class="control-label"></label>
        <input asp-for="ImagePro" class="form-control" />
        <span asp-validation-for="ImagePro" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ManufacturingDate" class="control-label"></label>
        <input asp-for="ManufacturingDate" class="form-control" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="ManufacturingDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="FirstDetail" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
